{
  "extends": ["airbnb-typescript/base", "prettier"],
  "plugins": ["prettier", "@typescript-eslint", "import"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "parserOptions": {
    "project": ["./tsconfig.json", "./tsconfig-test.json"]
  },
  "parser": "@typescript-eslint/parser"
}
